---
layout: default
---
<!-- Slider -->
<script src="{{ "/bower_components/ideal-image-slider/ideal-image-slider.min.js" | relative_url }}"></script>
<script src="{{ "/bower_components/ideal-image-slider/iis-bullet-nav.js" | relative_url }}"></script>
<script src="{{ "/bower_components/ideal-image-slider/iis-captions.js" | relative_url }}"></script>
<!-- Sliders on pages -->
{% for script in page.iis_slider_scripts %}
  {{ script }}
{% endfor %}
<!-- Sliders on indexes -->
{% for post in paginator.posts %}
  {% for script in post.iis_slider_scripts %}
    {{ script }}
  {% endfor %}
{% endfor %}

<div id="slider">
  <img src="../img/pict1.jpg" alt="alt text 1">


</div>
