<div id="map" style="display: block; width:100%; padding-top: 45%; max-width:500px;max-height:300px;margin:0 auto 0 auto;"></div>
<script>
  window.mapData = {"latitude": {{ include.latitude }},"longitude": {{ include.longitude }}, "zoom": {{ include.zoom}}, "urlindex": {{ include.urlindex}}};

  function initMap() {
	  
	  
	  
	var myOptions = {
		scrollwheel: true,
		draggable: true,
		panControl: true,
		disableDefaultUI: true,
		zoom: window.mapData.zoom,
		center: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),

		styles:[
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
]
    };
	
	var place = ['https://www.google.com.hk/maps/place/Sai+Kung+Public+Pier/@22.3267233,114.1393577,11.21z/data=!4m12!1m6!3m5!1s0x34041ad97eeb2d49:0x6bc601cf07f2f898!2sPak+A+Pier!8m2!3d22.3527072!4d114.3496951!3m4!1s0x34040598076a2f1f:0xec2b7a350d3eb444!8m2!3d22.3819872!4d114.274813?hl=en','https://www.google.com.hk/maps/place/Pak+A+Pier/@22.371625,114.2995571,13z/data=!4m8!1m2!2m1!1z6KW_6LKiIFBhayBBIFBpZXI!3m4!1s0x0:0x6bc601cf07f2f898!8m2!3d22.3527053!4d114.3496943?hl=en']
	
    var map = new google.maps.Map(document.getElementById('map'), myOptions);
	
    var marker = new google.maps.Marker({
		map: map,
		position: new google.maps.LatLng(window.mapData.latitude, window.mapData.longitude),
		label: 
		{
			text: "Go",
			color: "#9c9c9c",
			fontSize: "10px",
			fontWeight: "bold"
		}
    });
	google.maps.event.addListener(marker, 'click', function () {
	  window.location.href = place[window.mapData.urlindex];
	});
    google.maps.event.addDomListener(window, 'resize', function() {
      map.setCenter(myOptions.center);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>
